.ClientsSprav {
    &-Adress {
        margin-bottom: 24px;
    }

    &-AddButton.MuiButtonBase-root {
        margin-left: 12px;
    }

    &-Search {
        flex: 1 1 auto;
    }

    &-Controls {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 24px;
    }

    &-Column {
        flex: 1 1 auto;

        &_type {
            &_department {
                width: 35%;
            }
        }
    }

    &-Pagination {
        display: flex;
        padding: 24px 0;
        justify-content: center;
    }
}