.Filters {
    padding: 16px 0;

    &-Header {
        display: flex;

        align-items: center;
    }

    &-Title {
        margin-right: 24px;
    }

    h2 {
        color: #3e3e3e;
    }

    &-Row {
        display: flex;

        padding: 12px 0;
    }

}