.Contract {
    display: flex;


    &-RightColumn {
        flex: 0 0 270px;
    }

    &-LeftColumn {
        padding: 20px 24px 0 0;


        flex: 1 1 auto;
    }

    &-Field {
        display: flex;
        padding: 16px 0;

        align-items: center;

        border-bottom: 1px solid #e1e1e1;
    }

    &-FieldName {
        flex: 0 0 220px;
        font-size: 14px;

        margin-bottom: 2px;
        color: #0000008a;

    }

    &-FieldValue {
        text-align:left;

        flex: 1 1 auto;

        font-size: 16px;

        line-height: 20px;
    }

    &-Title {
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 30px;
        font-weight: bold;

        color: #0000008a;
    }

    &-TitleButton.MuiButtonBase-root {
        margin-left: 12px;

        min-width: 30px;
        border-radius: 50%;
    }

    &-DocumentsLink {
        margin-top: 16px;
        font-size: 14px;
        text-align: center;
    }
}