.Header {
    display: flex;
    min-height: 44px;
    align-items: center;

    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 12px;

    &-Name {
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
    }

    &-Left {
        display: flex;
        align-items: center;

        flex: 1 1 auto;
    }

    &-Right {
        flex: 0 0 auto;
    }

    &-Search {
        width: 260px;
    }

    &-ContractStatus {
        margin-left: 16px;

        color: #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;

        background-color: #0183F6;
        padding: 4px 12px;

        border-radius: 12px;

    }

    &-Icon {
        margin-right: 8px;
    }

    &-Tooltip {
        font-size: 14px;
    }

    &-Excel.ExcelButton {
        margin-left: 16px;
    }
}