.ContractsList {
    padding: 12px 0;

    &-Period {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;

        margin-bottom: 20px;
    }

    &-Grid {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

        gap: 20px;

        margin-bottom: 32px;
    }

    &-NotFound {
        margin-top: 32px;

        text-align: center;

        color: #D1224C;

        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
    }
}