.CreateContractDialog {
    &-Field {
        &.MuiFormControl-root,
        &.MuiAutocomplete-root {
            flex: 1 1 auto;

            min-width: 200px;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }

        &_type {
            &_type.MuiFormControl-root {
                flex: 0 0 auto;
            }

            &_status.MuiFormControl-root {
                flex: 0 0 auto;
            }
        }
    }


    &-Row {
        display: flex;
        align-items: center;

        margin-bottom: 24px;
    }
}