.ContractsList {
    font-size: 14px;
    line-height: 16px;

    text-align: center;

    &-Row {
        display: flex;
        align-items: center;

        padding: 16px 0;
        cursor: pointer;

        &:hover {
            background-color: #f1f1f1;
        }

        &_type_header {
            font-weight: bold;

            background-color: #fff;
            border-bottom: 1px solid #e1e1e1;

            position: sticky;
            top: -44px;

            cursor: default;

            &:hover {
                background-color: #fff;
            }
        }
    }

    &-Column {
        flex: 1 1 auto;

        &_type {
            &_id {
                flex: 0 0 80px;

                text-align: center;
            }

            &_client {
                text-align: left;

                flex: 0 1 740px;
            }

            &_manager {
                flex: 0 1 300px;
            }

            &_status {
                flex: 0 0 80px;
            }
        }
    }

    &-Date {
        font-size: 12px;
        color: #999;
    }

    &-Client {
        font-weight: bold;

        margin-bottom: 2px;

    }

    &-NotFound {
        margin-top: 32px;

        text-align: center;

        color: #D1224C;

        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
    }

    &-Check {
        margin-left: 4px;
    }
}