.CreateManagerDialog {
    &-Field {
        &.MuiFormControl-root {
            flex: 1 1 auto;

            min-width: 200px;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    &-Divider {
        height: 1px;

        background-color: #e1e1e1;
    }

    &-Row {
        display: flex;
        align-items: center;

        margin-bottom: 24px;
    }

    &-Actions.MuiDialogActions-root {
        justify-content: space-between;
    }
}