.DocumentItem {
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 8px;

    margin-bottom: 8px;

    background-color: #fff;
    color: #000 !important;

    border-radius: 4px;

    box-sizing: border-box;

    cursor: pointer;
    transition: all 0.1s;

    &_noFile {
        opacity: 0.6;
    }

    &:hover {
        background-color: #f3f3f3;

        .DocumentItem-Edit {
            opacity: 1;
        }

        .DocumentItem-Date {
            visibility: hidden;
        }
    }

    &-Name {
        margin-left: 4px;

        font-size: 14px;
        line-height: 16px;
    }

    &-Date {
        margin-left: 4px;

        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        color: #999;
    }

    &-Edit {
        position: absolute;

        background-color: #fff;
        padding: 4px 8px;
        border-radius: 4px;

        opacity: 0;
        right: 8px;
    }
}