.ManagersSprav {
    &-AddButton.MuiButtonBase-root {
        margin-left: 12px;
    }

    &-Table {
        margin-bottom: 50px;
    }

    &-Row {
        cursor: pointer;
    }

    &-Search {
        flex: 1 1 auto;
    }

    &-Controls {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 24px;
    }
}