body {
    margin: 0;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    font-size: 12px;
    line-height: 14px;
}

.Root {
    display: flex;

    height: 100vh;
}

.Pagination {
    display: flex;
    justify-content: center;

    padding: 24px 0;
}