body {
    margin: 0;
}

.Root {
    display: flex;

    height: 100vh;
}

.Right {
    max-width: 800px;

    margin-left: 40px;
    margin-top: 40px;

    flex: 1 1 600px;

    overflow-y: auto;
}

.Foot {
    height: 100px;
}