.MainPage {
    padding-bottom: 40px;

    &-Add {
        position: fixed !important;

        bottom: 40px;
        right: 20px;
    }

    &-Progress {
        padding: 40px 0;
        text-align: center;
    }
}